<style>
    .cinema {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .occupied {
        background-color: red;
    }
</style>

<h1>Cinema Seat Selection</h1>

<div class="cinema">
    <div>
        <% for (let i=0; i < movie.chairArray.length; i++) { %>
            <% if (movie.chairArray[i]) { %>
                <button id="<%=i%>" onclick="change(this)">
                    <img id="image<%=i%>" src="/pics/SeatUnavailable.png" alt="Button Image">
                </button>
                <% } else { %>
                    <button id="<%=i%>" onclick="change(this)">
                        <img id="image<%=i%>" src="/pics/SeatAvailable.png" alt="Button Image">
                    </button>
                    <% } %>
                        <% } %>
    </div>
</div>
<button type="submit" class="btn btn-primary" style="width:100%; margin-top:12px;" onclick="sendData()">Save
    Changes</button>
<script>
    var test = '<%- JSON.parse(JSON.stringify(movie.chairArray)) %>';
    test = test.split(",");
    let editedChairs = [];
    function change(button) {
        if (document.getElementById("image" + button.id).src.includes("/pics/SeatSelected.png")) {
            if (test[button.id] == "true") {
                document.getElementById("image" + button.id).src = "/pics/SeatUnavailable.png";
            }
            else
                document.getElementById("image" + button.id).src = "/pics/SeatAvailable.png";
            editedChairs.splice(editedChairs.indexOf(button.id), 1);
        }
        else {
            document.getElementById("image" + button.id).src = "/pics/SeatSelected.png";
            editedChairs.push(button.id);
        }
    }

    async function sendData() {
        alert(editedChairs);
        const response = await fetch('/functions/edit_chairs/' + '<%- JSON.stringify(movie.id)%>', {
            method: "POST",
            body: JSON.stringify(editedChairs),
            headers: {
                "Content-Type": "application/json"
            }
        });
        return response.json();
    }
</script>