<%- include('./components/header')%>
<body style="background-color: #1d1d48;" >
    <%- include('./components/navigation')%>
    <link rel="stylesheet" href="/flipcard.css">



    <div>
        <div id="carouselSlide" class="carousel slide" data-bs-ride="carousel" style="width:fit-content;">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <a href="/movie/6"><img src="/pics/SP2_CC_BANNER_2000x832.jpg" class="d-block w-100" alt="Spiderman Across the spider-verse"></a>
              </div>
              <div class="carousel-item">
                <a href="/movie/8"><img src="/pics/GOGV3_BANNER_2000x832_CC.jpg" class="d-block w-100" alt="Gaurdian of the Galaxy"></a>
              </div>
              <div class="carousel-item">
                <a href="/movie/9"><img src="/pics/TF7_CC_BANNER_2000x832.jpg" class="d-block w-100" alt="Robotrics"></a>
              </div>
              <div class="carousel-item">
                <a href="/movie/7"><img src="/pics/TLM_CC_BANNER_2000x832.jpg" class="d-block w-100" alt="The little mermaid"></a>
              </div>
              <div class="carousel-item">
                <a href="/movie/4"><img src="/pics/מהיר_ועצבני_cinema_city_01.jpg" class="d-block w-100" alt="Fast and Furious X"></a>
              </div>
              <div class="carousel-item">
                <a href="/movie/5"><img src="/pics/סופר_מריו_cinema_city_01_פלאח_צהוב.jpg" class="d-block w-100" alt="Super Mario"></a>
              </div>
            </div>
        </div>
    </div>
<%# Movies flip cards %>
<div class="container">
  <div class="row">
      <h1 style="margin-top:10px; color:#cbe8fc;">NOW IN CINEMA</h1>
  </div>
  <% if (movies.length > 0) { %>
      <div class="row">
          <% for (let movie of movies) { %>
              <div class="col-lg-3">
                  <div class="flip-card">
                      <div class="flip-card-inner">
                          <div class="flip-card-front">
                              <img src="<%= movie.movieImage %>" alt="Movie Poster">
                              <div class="movie-name"><%= movie.movieName %></div>
                          </div>
                          <div class="flip-card-back">
                              <div class="movie-details">
                                  <h2><%= movie.movieName %></h2>
                                  <p class="movie-description"><%= truncateDescription(movie.movieDescription, 10) %></p>
                                  <div class="movie-info">
                                      <p><strong>Genre:</strong> <%= movie.genre %></p>
                                      <p><strong>Length:</strong> <%= movie.movieLength %> minutes</p>
                                      <p><strong>Author:</strong> <%= movie.movieAuthor %></p>
                                      <p><strong>Price:</strong> <%= movie.moviePrice %>$(per ticket)</p>
                                      <p>
                                              <% if (movie.ageRestriction === 0) { %>
                                                  No age restriction
                                              <% } else { %>
                                                  <strong>Age Restriction: </strong><%= movie.ageRestriction %>+
                                              <% } %>
                                      </p>
                                  </div>
                                  <div class="btn-container">
                                      <a href="/movie/<%= movie.id %>" class="btn">View Movie</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          <% } %>
      </div>
  <% } %>
</div>
    <% function truncateDescription(description, maxWords) {
      const words = description.split(' ');
      if (words.length <= maxWords) {
        return description;
      } else {
        const truncatedWords = words.slice(0, maxWords);
        return truncatedWords.join(' ') + '...';
      }
    } %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>